<div class="payment-method">
    <div class="payment-accordion">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="#payment-1">
                    <h5 class="panel-title">
                        <a class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Direct Bank Transfer.
                </a>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="#payment-2">
                    <h5 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Cash On Delivery
                </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <p>Cash On Delivery Is Available inside Dhaka City Only</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="#payment-3">
                    <h5 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">bKash
                        </a>
                    </h5>
                </div>

                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>Pay To Our bKash Marchant Number and give your Information</p>
                        <p>Our Marchant Number: <strong class="bKash-number"> 01700 000000</strong></p>
                        <input type="text" placeholder="Your bKash No">
                        <input type="text" placeholder="bKash TrxId">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>