 {% extends 'base.html' %} {% load static %}
<!-- title -->
{% block title %} {{setting.siteTitle}} {% endblock %}
<!-- Mainbody -->
{% block mainbody %}
<!-- about wrapper start -->
<div class="about-us-wrapper pt-60 pb-40">
    <div class="container">
        <div class="row">
            <!-- About Text Start -->
            <div class="col-lg-6 order-last order-lg-first">
                <div class="about-text-wrap">
                    <h2><span>Provide Best</span>Product For You</h2>
                    {% for data in object_list %}
                    <div class="single-contact-block">
                        <p>{{data.siteAbout}}</p>
                    </div>
                    {% empty %}
                    <p>About Is Not Updated Yet</p>> {% endfor %}
                </div>
            </div>
            <!-- About Text End -->
            <!-- About Image Start -->
            <div class="col-lg-5 col-md-10">
                <!-- {% for data in object_list %} -->
                <div class="about-image-wrap">
                    <img class="img-full" src="{{ data.siteLogo.url }}" alt="SiteLogo" />
                </div>
                <!-- {% empty %}
                <p>Image Is Not Updated Yet</p>> {% endfor %} -->

            </div>
            <!-- About Image End -->
        </div>
    </div>
</div>
<!-- about wrapper end -->{%endblock%}