/*=========================================================
	06 -> PRODUCT
===========================================================*/

.product .product-old-price {
    color: #949494;
    font-size: 100%;
}

.product .product-rating {
    display: inline-block;
}

.product .product-rating>i {
    color: #FFB656;
}

.product .product-rating>i.empty {
    color: #DADADA;
}

.product .product-label>span {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    font-weight: 700;
    color: #FFF;
    background-color: #30323A;
    z-index: 22;
}

.product .product-label>span.sale {
    background-color: #F8694A;
}

.product .product-countdown {
    z-index: 22;
}

.product .product-countdown>li {
    display: inline-block;
    margin-right: -4px;
}

.product .product-countdown>li+li:before {
    content: ":";
    color: #FFF;
    background: #30323A;
    padding: 2px;
}

.product .product-countdown>li>span {
    display: inline-block;
    color: #FFF;
    font-weight: 700;
    padding: 10px;
    background: #F8694A;
}


/* sticker */

.product-thumb>span.sticker {
    background: #e700f3;
    border-radius: 100%;
    color: #fff;
    right: 15px;
    position: absolute;
    top: 20px;
    z-index: 99;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
}


/*----------------------------*\
      Single product
  \*----------------------------*/

.product.product-single {
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    background-color: #f0e54b;
    border-radius: 10px 0px 10px 0px;
    box-shadow: #30323A;
}

.product.product-single:hover {
    -webkit-box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}

.product.product-single .product-thumb {
    position: relative;
    margin-bottom: 15px;
}

.product.product-single .product-thumb>img {
    width: 100%;
    border-radius: 10px 0px 0px 0px;
}

.product.product-single .product-thumb:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(216, 216, 216);
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.product.product-single:hover .product-thumb:after {
    opacity: 0.7;
    visibility: visible;
}

.product.product-single .quick-view {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    z-index: 20;
}

.product.product-single:hover .quick-view {
    opacity: 1;
    visibility: visible;
}

.product.product-single .product-label {
    position: absolute;
    left: 0;
    top: 0;
}

.product.product-single .product-label>span {
    display: block;
}

.product.product-single .product-countdown {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.product.product-single .product-body {
    padding: 5px;
}

.product.product-single .product-price {
    display: inline-block;
}

.product.product-single .product-rating {
    float: right;
    margin-top: 5px;
}

.product.product-single .product-name {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

.product.product-single .new-price {
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

.product.product-single .product-btns {
    margin-top: -5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.product.product-single:hover .product-btns {
    opacity: 1;
    visibility: visible;
}

.add-actions-link {
    margin-top: 2px;
    padding-top: 2px;
    margin: auto;
    width: 50%;
}


/* .add-actions-link li.add-cart {} */


/*-- hot product --*/

.product.product-single.product-hot {
    border: 2px solid #F8694A;
}

.product.product-single.product-hot .product-btns {
    opacity: 1;
    visibility: visible;
}


/*----------------------------*\
	 Widget product
\*----------------------------*/

.product.product-widget {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.product.product-widget .product-thumb {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
}

.product.product-widget .product-thumb>img {
    width: 100%;
}

.product.product-widget .product-body {
    padding-left: 75px;
    padding-top: 10px;
    min-height: 60px;
}

.product.product-widget .product-price {
    font-size: 18px;
    margin-bottom: 5px;
}

.product.product-widget .product-price .qty {
    font-size: 14px;
    font-weight: 400;
}

.product.product-widget .product-name {
    font-size: 14px;
}

.product.product-widget .cancel-btn {
    position: absolute;
    right: 0px;
    top: 10px;
    background-color: transparent;
    border: none;
    color: #DADADA;
}

.product.product-widget .cancel-btn:hover {
    color: #30323A;
}


/*----------------------------*\
      Product slick
  \*----------------------------*/

.product-slick .slick-slide {
    margin-right: 15px;
    margin-left: 15px;
}


/*=========================================================
      07 -> PRODUCTS PAGE
  ===========================================================*/


/*----------------------------*\
      Aside
  \*----------------------------*/

#aside .aside {
    margin-bottom: 30px;
}

#aside .aside:last-child {
    margin-bottom: 0px;
}

.aside .aside-title {
    position: relative;
    border-bottom: 1px solid #DADADA;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 30px;
    margin-top: 15px;
    line-height: 24px;
    font-size: 18px;
}

.aside .aside-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    height: 3px;
    width: 60px;
    background-color: #F8694A;
}


/*-- Filter list --*/

.filter-list {
    margin-bottom: 15px;
}

.filter-list>li {
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 6px;
}

.filter-list>li:last-child {
    margin-right: 0px;
}

.filter-list li a {
    position: relative;
    padding: 0px 5px 0px 20px;
}

.filter-list li a:before {
    content: "\f00d";
    font-family: FontAwesome;
    position: absolute;
    left: 4px;
    top: 5px;
    line-height: 12px;
    font-size: 9px;
    color: #FFF;
    background: #30323A;
    width: 12px;
    text-align: center;
    border-radius: 50%;
    height: 12px;
}


/*-- Price Filter --*/

#price-slider {
    margin: 60px 0px 50px;
}

.noUi-target {
    background-color: #DADADA;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0px;
}

.noUi-connect {
    background-color: #F8694A;
}

.noUi-horizontal {
    height: 4px;
}

.noUi-horizontal .noUi-handle {
    width: 12px;
    height: 12px;
    left: -6px;
    top: -4px;
    border: none;
    background: #30323A;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
}

.noUi-handle:before,
.noUi-handle:after {
    display: none;
}

.noUi-tooltip {
    border: none;
    color: #FFF;
    background: #30323A;
    border-radius: 0px;
}


/*----------------------------*\
      Store
  \*----------------------------*/

#store {
    margin-top: 15px;
    padding-top: 30px;
    border-top: 1px solid #DADADA;
    margin-bottom: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid #DADADA;
}


/*-- store filter --*/

.row-filter {
    display: inline-block;
    vertical-align: top;
}

.row-filter>a {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    background-color: #30323A;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.row-filter>a:hover {
    opacity: 0.9;
}

.row-filter>a.active {
    background-color: #F8694A;
}

.sort-filter {
    display: inline-block;
    margin-left: 15px;
}

.sort-filter select.input {
    width: 120px;
}

.page-filter select.input {
    width: 90px;
}

.page-filter {
    display: inline-block;
}

.store-pages {
    display: inline-block;
    margin-left: 15px;
}

.store-pages li {
    display: inline-block;
    margin-right: 6px;
}

.store-pages li a {
    display: block;
    min-width: 10px;
    text-align: center;
}

.store-pages li.active {
    color: #F8694A;
}