{%extends 'base.html' %} {% load static %} {% load crispy_forms_filters %}
<!-- title -->
{% block title %} Register-{{setting.siteTitle}} {% endblock %}

<!-- block body -->
{% block mainbody %} {% if user.is_authenticated %}


<div class="page-section mb-60">
    <div class="container">
        <div class="row" style="align-content: center;">
            <h3 style="color:rgb(214, 0, 0);margin-left: 2rem; margin-right: auto;">You're already logged in an account.</h3>
        </div>
    </div>
</div>


{% else %}
<!-- Begin Login Content Area -->
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                <!-- Login Form s-->
                <form action="#" method="POST">
                    <div class="login-form">
                        <h4 class="login-title">Login</h4>
                        {% csrf_token %} {{ form|crispy }}
                        <div class="col-md-12">
                            <button class="register-button mt-0" type="submit">Login</button>
                        </div>
                    </div>

                </form>
            </div>
            <p>Already Have An Account? <a href="{% url 'register' %}">Sign Up</a></p>
        </div>
    </div>
</div>
<!-- Login Content Area End Here -->

{% endif %} {% endblock %}